.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#menu ul li {
  list-style: none;
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.center {
  width: 75%;
  margin: 0 auto;
}

.center h1, nav, h2 {
  text-align: center;
}

.link {

    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.srv-validation-message, .message {
  color: red;
}